
@{
    ViewBag.Title = "log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center alert-dark p-2 text-white">الدخول</h2>
<div class="right">
    <a href="/operation/loginC" class="btn btn-dark p-5">عميل</a>
    <a href="/operation/loginW" class="btn btn-dark p-5">صنايعى</a>
</div>
<style>
    body {
        background-image: url('/Content/Images/mobile-log.jpg');
    }
    .right {
        position: absolute;
        right: 751px;
        width: 400px;
        /*border: 3px solid #73AD21;*/
        padding: 10px;
    }
</style>